.home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product_info_section_one {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px 100px;
  grid-gap: 2rem;
}
@media screen and (max-width: 992px) {
  .product_info_section_one {
    grid-template-columns: 1fr;
  }
}
.text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.text h1 {
  padding-bottom: 20px;
  font-size: 3.5rem;
  color: #f19c26;
}
.strong {
  margin-bottom: 10px;
}
.img {
  width: 100%;
}
.img img {
  width: 100%;
  object-fit: contain;
}
.btn {
  padding-top: 30px;
}
.btn button {
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
}

.home_mission {
  width: 100%;
}
.home_mission h1 {
  color: white;
  padding-bottom: 20px;
}
.home_mission strong {
  color: white;
}
.card_button {
  height: auto;
  padding: 20px 0px;
}
.card_button button {
  background-color: #fdb653;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
}
.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  padding-bottom: 100px;
}
.testimonial h1 {
  font-size: 3.5rem;
  color: rgb(241, 156, 38);
  padding-bottom: 30px;
}
.test_in {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.test_in img {
  width: 100%;
}
