.news_my_container {
  width: 100%;
  background-color: #f8f7fa;
  display: flex;
  padding: 60px 0px;

  .newsletter {
    width: 100%;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .news_info {
      align-items: center;
      justify-content: center;
      height: auto;
      display: flex;
      flex-direction: column;
    }
    p {
      color: white;
      text-transform: uppercase;
      padding-bottom: 30px;
    }
    h1 {
      padding: 10px;
      font-size: 3.5rem;
      text-align: center;
      line-height: 1;
    }
    .news_form {
      padding-top: 40px;
      height: auto;
      display: flex;
      justify-content: center;
      .news_input {
        width: 100%;
        height: auto;
        input {
          padding: 15px;
          border: none;
          width: 400px;
          border-radius: 30px;
        }
      }
      .News_button {
        margin: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: start;

        button {
          background-color: #fdb653;
          border: none;
          width: 100%;
          padding: 15px 100px !important;
          border-radius: 30px;
          text-transform: uppercase;
          color: white;
        }
      }
    }
  }
}
