.nut_Butter {
  width: 100%;
  height: auto;
  max-width: 1400px;

  .pro_section {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .pro_img {
      img {
        padding: 100px;
        width: 100%;
      }
    }
    .pro_text {
      padding: 60px 100px;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      h1 {
        font-size: 3rem;
        color: white;
      }
      strong {
        font-weight: 300;
        color: white;
        padding: 20px 0px;
      }
      p {
        color: white;
      }
      .Nut_shop {
        padding: 20px 0px;
        button {
          color: white;
          border: none;
          background: none;
          padding: 10px 30px;
          border-radius: 30px;
          border: 2px solid white;
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    .pro_section {
      grid-template-columns: 1fr;
    }
  }
  .nut_hero {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    .nut_text {
      padding: 60px;
      align-items: start;
      justify-content: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.439);
      h1 {
        font-size: 3rem;
      }
      strong {
        padding: 20px 0;
        font-weight: 300;
      }
    }
    .choco_text {
      padding: 60px;
      align-items: start;
      justify-content: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.439);
      h1 {
        font-size: 3rem;
        color: white;
      }
      strong {
        padding: 20px 0;
        font-weight: 300;
        color: white;
      }
      p {
        color: white;
      }
    }
  }
}
